<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-controller="appController">
    	<div class="panel panel-default">
    		<h4 class="panel-heading"> URL</h4>
    		<div class="panel-body">
    			<p id='top'> this is the top</p>
    			<button class="btn btn-primary" ng-click="show('bottom')">GO to Bottom</button>
    			<ul>
    				<li ng-repeat='item in items'>{{item}}</li>
    			</ul>
    			<p id='bottom'>This is the bottom</p>
    			<button class="btn btn-primary" ng-click="show('top')">
    				GO to Top
    			</button>
    		</div>
    	</div>
    </div>
</body>

</html>
